#about {
  max-width: 600px;
}

#about h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
  line-height: 45px;
}

#about p {
  font-size: 20px;
  font-weight: 300;
  line-height: 29px;
  margin-bottom: 25px;
}

.semibold {
  font-weight: 600;
}

#about i, a {
  color:  rgba(38, 38, 38, 0.8);
}

#about i {
  margin-right: 5px;
}

.curriculumLink {
  text-decoration: none;
  font-size: 18px;
}

#about i:hover {
  color: #d2a0a4;
}

#about a:hover {
  color: #d2a0a4;
}

#about h2 {
  font-size: 24px;
  margin-top: 60px;
  font-weight: 600;

}

.bulletpoints {
  font-size: 20px;
  line-height: 34px;
  margin-top: 20px;
  margin-bottom: 50px;
}

/* Responsive */

/*tablet*/

@media screen and (max-width: 620px) {

  header {
    max-width: 500px;
    margin: 0 auto;
  }

  #about {
    max-width: 500px;
  }
}


@media screen and (max-width: 520px) {
  header {
    max-width: 450px;
    margin: 0 auto;
  }

  #about {
    max-width: 450px;
  }
}

/*mobile*/

@media screen and (max-width: 420px) {
  header {
    max-width: 360px;
    margin: 0 auto;
  }

  #about {
    max-width: 360px;
  }
}

@media screen and (max-width: 360px) {
  header {
    max-width: 320px;
    margin: 0 auto;
  }

  #about {
    max-width: 300px;
  }

}