#about {
  max-width: 600px;
}

#about h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
  line-height: 45px;
}

#about p {
  font-size: 20px;
  font-weight: 300;
  line-height: 29px;
  margin-bottom: 25px;
}

.semibold {
  font-weight: 600;
}

#about i, a {
  color:  rgba(38, 38, 38, 0.8);
}

#about i {
  margin-right: 5px;
}

.curriculumLink {
  text-decoration: none;
  font-size: 18px;
}

#about i:hover {
  color: #d2a0a4;
}

#about a:hover {
  color: #d2a0a4;
}

#about h2 {
  font-size: 24px;
  margin-top: 60px;
  font-weight: 600;

}

.bulletpoints {
  font-size: 20px;
  line-height: 34px;
  margin-top: 20px;
  margin-bottom: 50px;
}

/* Responsive */

/*tablet*/

@media screen and (max-width: 767.98px) {

  header {
    max-width: 600px;
    margin: 0 auto;
  }

  #about {
    max-width: 600px;
  }

  #about h1 {
    font-size: 28px;
  }

  #about p {
    font-size: 18px;
  }

  #about h2 {
    font-size: 22px;
  }

  .bulletpoints {
    font-size: 18px;
  }

  .curriculumLink {
    font-size: 16px;
  }

  #menu li a{
    font-size: 16px;
  }

}


@media screen and (max-width: 575.98px) {
  header {
    max-width: 400px;
    margin: 0 auto;
  }

  #about {
    max-width: 400px;
  }

  #about h1 {
    font-size: 24px;
  }

  #about p {
    font-size: 16px;
  }

  #about h2 {
    font-size: 20px;
  }

  .bulletpoints {
    font-size: 16px;
  }

  #footer {
    margin: 100px 0 40px 0;
  }

}

/*mobile*/

@media screen and (max-width: 420px) {
  header {
    max-width: 320px;
    margin: 0 auto;
  }

  #about {
    max-width: 320px;
  }
}

@media screen and (max-width: 360px) {
  header {
    max-width: 300px;
    margin: 0 auto;
  }

  #about h1 {
    line-height: 30px;
    font-size: 22px;
  }

  #about {
    max-width: 300px;
    margin: 0 auto;
  }
}