/*Project view*/

.project-view {  
  display: flex;
  align-self: center;
  flex-direction: column;
}

.project-view h1 {
  font-weight: 700;
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.project-view img {
  
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 60px;
  margin-top: 15px;
}

.project-view h2 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 30px;
}

.project-view p {
  line-height: 40px;
  margin-bottom: 30px;
  font-size: 20px;
}

.project-view h4 {
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 10px;
  color: #d2a0a4;
}

/*other projects suggested*/
.other-projects {
  margin-top: 120px;
}

.other-projects h5 {
  font-weight: 600;
}

.suggested {
  display: grid;
  margin-top: 50px;
  grid-template: 222.23px / repeat(3,1fr);
}

.suggested > div:not(:last-child) {
  margin-right: 12px;
}

.hover-color-small {
  display: flex;
  justify-content: center;
  background: rgb(210,160,164,0.8);
  transition: opacity .2s linear;
  opacity: 0;
}

.hover-color-small:hover {
  opacity: 1;
}
.suggested-card {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template: 1fr / 1fr;
}

#image-card1{
  background-image: url(../img/goeat.png)
}
#image-card2{
  background-image: url(../img/pausaappmain.png)
}
#image-card3{
  background-image: url(../img/whatsappappmai.png)
}

.read-more-small {
  color: white;
  border: solid 1.5px white;
  text-decoration: none;
  text-align: center;
  align-self: center;
  padding: 20px 40px;
  box-sizing: border-box;
  font-size: 18px;
}

.read-more-small:hover {
  color: #d2a0a4;
  border: solid 1px white;
  background-color: white;
}

.italics {
font-style: italic;
font-weight: 400;
}

.quote {
  font-style: italic;
  margin-bottom: 40px;
  margin-top: 20px;
  margin-left: 0;
  padding-left: 1em;
  border-left: 5px solid #d2a0a4;
}

.bulletpoints {
  list-style-type: disc;
  font-size: 20px;
  line-height: 40px;
  margin-left: 30px;
}

.section {
  margin-top: 50px;
}

video {
  align-self: center;
}

p a{
  color: rgba(38, 38, 38, 0.8);
}

p a:hover {
  color: #d2a0a4;
}

.numberlist {
  font-size: 20px;
  line-height: 40px;
  margin-left: 30px;
  list-style-type: decimal;
}

.gif{
  max-width: 320px;
}

img {
  align-self: center;
}

.landing {
  max-width: 520px;
}

.smaller {
  max-width: 80%; 
}
/* Responsive */

/*tablet*/

@media screen and (max-width: 994px) {
  header {
    max-width: 850px;
    margin: 0 auto;
  }

  .project-view {
    max-width: 850px;
    margin: 0 auto;
  }

  .other-projects {
    max-width: 850px;
    margin: 0 auto;
    margin-top: 100px;
  }

  #footer {
    max-width: 850px;
  }
}

@media screen and (max-width: 880px) {
  header {
    max-width: 750px;
    margin: 0 auto;
  }

  .project-view {
    max-width: 750px;
    margin: 0 auto;
  }

  .other-projects {
    max-width: 750px;
    margin: 0 auto;
    margin-top: 100px;
  }

  #footer {
    max-width: 750px;
    margin-top: 100px;
  }
}

@media screen and (max-width: 760px) {
  header {
    max-width: 600px;
    margin: 0 auto;
  }

  .project-view {
    max-width: 600px;
    margin: 0 auto;
  }

  .other-projects {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 100px;
  }

  #footer {
    max-width: 600px;
    margin-top: 100px;
  }

  #footer div h4, p {
    font-size: 20px;
  }

  @media screen and (max-width: 576px) {
    header {
      max-width: 500px;
      margin: 0 auto;
    }

    .project-view {
      max-width: 500px;
      margin: 0 auto;
    }

    .suggested {
      margin-top: 50px;
      grid-template: repeat(3, 222.23px) / 1fr;
      grid-gap: 20px;
      
    }
   
    #footer {
      max-width: 500px;
      margin-top: 100px;
    }

}
}